.grid-expanded .ant-table-body > table > tbody {
  > tr.ant-table-expanded-row {
    background: #FDFEFE !important;

    td:nth-child(2) > .div_nk_grid > .ant-card {
      display: none !important;
    }
  }

  > tr.ant-table-row {
    cursor: pointer;
  }

  .grid-expanded-details tr.ant-table-row {
    background: #ffffff;
    cursor: default;
  }
}