.wrap_text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap_link {
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 100% !important;
  text-align: left !important;
}

.nk_popup_loading {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 15px;
}

.loading_nk_grid {
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.creator-modifier-dv {
  padding-top: 10px;
  text-align: right;
  font-size: 72%;
  font-style: italic;
  display: block !important;
  width: 100%;
}