.layout-container {
  margin-left: 262px !important;
}

.header-container {
  background: #fff !important;
  padding: 0 !important;

  .page-header {
    padding: 21px 24px !important;
  }
}

.content-container {
  margin: 0 16px !important;

  .content-child-container {
    padding: 20px 0 !important;
    background: #fff !important;
  }
}

.footer-container {
  text-align: center !important;
}

